.header {
	background-color: $bgray;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;}


 .header-holder {
 	padding:64px 0;
	display: flex;
	justify-content: space-between;	
}

img .logo {
	width: 127px ;
   height: 23px;
}