// Переменные цветов
$gray:#515f67;
$blue: #4bcaff;
$darkgray: #353f46;
$bgray:rgba(81, 95, 103, 0.9);
$dwhite: rgba(255, 255, 255, 0.9);
$black: #000;
$white: #fff;
$dark-blue: #0069d9;
$green: #28a745;
$dark-green: #218838;
$red: #f00;
$yellow: #ff0;


$base-font-sans-serif: 'Roboto','Rubik', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: $black;
$base-background-color: $white !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$font-size-base: 12px;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray ;

// Переменные font-size для заголовков
$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 11px;
$h5-font-size: 17px;
$h6-font-size: 15px;


